* {
  box-sizing: border-box;
  font-family: verdana;
}

.main {
  position:fixed;
  padding:0;
  margin:0;

  top:0;
  left:0;

  width: 100%;
  height: 100%;
  background: #D8EDC9;
}

.algoButtons {
  background-color: #8B546F;
  margin-top: 30px;
  height: 60px;
  width: 100%;
  font-size: 15px;
  color: white;
  display: flex;
  flex-flow: row nowrap;

  align-items: center;
  justify-content: center;

  .bubbleButt {
    border-right: 1px solid #F9F1DE;
    width: 200px;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .quickButt {
    border-right: 1px solid #F9F1DE;
    width: 200px;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .mergeBtn {
    border-right: 1px solid #F9F1DE;
    width: 200px;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .insertionBtn {
    border-right: 1px solid #F9F1DE;
    width: 200px;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .selectionBtn {
    width: 200px;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.bubbleButt:hover {
  background-color: #C99EBA;
}

.visualizeIt {
  border: 5px solid #AF5244;
  background-color: white;
  width: 1300px;
  height: 500px;
  margin: 50px 50px;
}

.barsDiv {
  display: flex;
  flex-flow: row nowrap;
  flex: 0 0 100%;
  align-items: flex-end;

  background-color: #88BEBB;
  height: 100%;

  .bars {
    flex: 1 0 3%;
    background-color: white;
    border: 1px solid #A9C0D5;
  }
}