.main {
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #D8EDC9; }

.algoButtons {
  background-color: #8B546F;
  margin-top: 30px;
  height: 60px;
  width: 100%; }
  .algoButtons .bubbleButt {
    border-right: 1px solid #F9F1DE;
    width: 200px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: white; }
  .algoButtons .bubbleButt:hover {
    background-color: #C99EBA; }

.visualizeIt {
  border: 5px solid #AF5244;
  background-color: white;
  width: 1300px;
  height: 500px;
  margin: 50px 50px;
  display: flex;
  flex-flow: row nowrap; }
  .visualizeIt .barsDiv {
    margin: auto;
    display: flex;
    flex-flow: row nowrap; }
    .visualizeIt .barsDiv .bars0 {
      background-color: pink;
      padding-top: %;
      width: 20px; }
